@tailwind base;

body {
  min-width: 300px;
}

@tailwind components;
@tailwind utilities;

/* Mobile header */
.headerMobile {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.headerMobile.shadowMobile {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.headerMobile.hiddenMobile {
  transform: translateY(-110%);
}

/* Desktop header */
.headerXL {
  transition: opacity 1s ease;
}

.headerXL.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s ease;
}

.nameXL {
  transform: rotate(-90deg);
  bottom: 90px;
  left: 60px;
  transition: opacity 1s ease;
}

/* Logo links (Github, LinkedIn, etc.) */
.fill-black {
  fill: black
}

.fill-white {
  fill: white
}

svg:hover {
  fill: #794ACF;
}

.logo-links {
  right: 80px;
}

/* Logo links - Large screen sizes */
@media (min-width: 1024px) {
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.3); }
}

/* Link underline animation */
a.left-underline {
  position: relative;
}

a.left-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: magenta;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left-underline:hover:before {
  visibility: visible;
  width: 100%;
}

/* Footer feature (unfinished) */
.footer-feature {
  background-color: black;
  color: white;
  width: 100%;
  height: 340px;
  line-height: 50px;
}
